*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#status {
    color: white;
}

.bar {
    width: 25px;
    margin: 7px;
    height: 250px;
    display: inline-block;
    bottom: 0;
    color: white;
    font-size: 0.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.values {
    color: white;
    display: inline-block;
    width: 25px;
    margin: 7px;
}

.desc{
    color: white;
}

/* Hide the spinners in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinners in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}